<h1>Products</h1>
<div class="card">
  <div class="card-head">Lorem ipsum - products 1</div>
  <div class="card-body">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim dignissimos
    quisquam sed itaque architecto in aperiam minus labore? Nostrum, enim
    perspiciatis sit animi expedita est? Inventore magni exercitationem vero
    rerum?
  </div>
</div>

<div class="card">
  <div class="card-head">Lorem ipsum - products 2</div>
  <div class="card-body">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim dignissimos
    quisquam sed itaque architecto in aperiam minus labore? Nostrum, enim
    perspiciatis sit animi expedita est? Inventore magni exercitationem vero
    rerum?
  </div>
</div>
